.shmui-stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.shmui-item {
    cursor: zoom-in;
}

.shmui-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.9);
}

.shmui-content {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;

    cursor: zoom-out;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.shmui-content.zoom {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.shmui-controls {
    position: absolute;
    bottom: 35px;
    right: 10px;
    left: 10px;
    height: 0;
    text-align: center;
    opacity: 0.8;
}

.shmui-controls:hover {
    opacity: 1;
}

.shmui-prev,
.shmui-next,
.shmui-zoom {
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 28px;
    border: 1px solid #666;
    opacity: 0.7;
}

.shmui-prev:hover,
.shmui-next:hover,
.shmui-zoom:hover {
    opacity: 1;
}

.shmui-controls,
.shmui-prev,
.shmui-next,
.shmui-zoom {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.shmui-controls.highlight {
    transform: translateY(-15px);
}

.shmui-controls.highlight,
.shmui-controls.highlight .shmui-prev,
.shmui-controls.highlight .shmui-next,
.shmui-controls.highlight .shmui-zoom {
    opacity: 1;
}

.shmui-prev {
    border-right: none;
}

.shmui-next{
    border-left: none;
}

.shmui-prev:before {
    content: '←';
}

.shmui-zoom:before {
    content: '⤢';
}

.shmui-next:before {
    content: '→';
}



/**
 * Inspired by:
 * http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/
 */
.shmui-content.loading:after {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    content: '';
    margin: -30px;


    height:60px;
    width:60px;

    border: 6px solid rgba(50, 50, 50, .15);
    border-top-color: rgba(50, 50, 50, .5);
    border-radius: 100%;

    -webkit-animation: rotation .5s infinite linear;
    -moz-animation: rotation .5s infinite linear;
    -o-animation: rotation .5s infinite linear;
    animation: rotation .5s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

